html,
body {
  box-sizing: content-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Comfortaa", cursive;
}

/* arrow up */
.arrowBack {
  position: relative;
}

#up {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 15px;
  position: fixed;
  display: none;
  cursor: pointer;
  width: 50px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    48deg,
    rgba(255, 255, 255, 1) 26%,
    rgba(0, 0, 0, 1) 53%,
    rgba(255, 255, 255, 1) 100%
  );
}

/* on scroll appear elements */
.elements {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.2s ease-out;
}

.elementsVisible {
  opacity: 1;
  transform: translateY(0);
}

/**
*
    HOME CONTAINER
*
*/
.home-container {
  width: 100%;
  height: 450vh;
  background-image: url(./img/b_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: rgb(255, 255, 255);
  color: #000000;
  height: 500px;
  width: 110px;
  margin-top: 25%;
  transition: 0.4s;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

#title:hover {
  width: 400px;
  transform: translate(0px, 0px);
  font-size: 20px;
}

.title {
  margin-top: 10px;
}

.description {
  width: 200px;
  writing-mode: horizontal-tb !important;
  text-orientation: sideways !important;
  margin-top: 150px;
}

.mainImg {
  margin-top: -950px;
  margin-left: 450px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.677));
  filter: drop-shadow(-10px 10px 8px rgba(0, 0, 0, 0.729));
}

/* BRAINSTROMING */
.brainstorming {
  margin-top: 100px;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.brainstroming_txt {
  height: 350px;
  width: 70vw;
  background-color: #ffffff;
  margin-top: 150px;
  margin-left: 400px;
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-content: center;
}

.brainstroming_txt p {
  font-size: 22px;
  width: 50vw;
  height: 300px;
  margin-top: 80px;
  margin-left: 60px;
}

.brainstroming_img {
  position: absolute;
}

/* WIREFRAMING */
.w1 {
  display: flex;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.wireframing_txt {
  height: 350px;
  width: 70vw;
  background-color: #ffffff;
  margin-top: 150px;
  margin-left: 100px;

  display: flex;
  justify-content: center;
  align-content: center;
}

.wireframing_txt p {
  font-size: 22px;
  width: 50vw;
  height: 300px;
  margin-top: 80px;
}

.wireframing_img {
  margin-top: -20px;
  float: right;
}

.wireframes {
  width: 30vw;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-left: 32%;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.wImg {
  transition: all 0.2s ease-in-out;
}

.wImg:hover {
  transform: scale(1.5);
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

/* PROGRAMMING */
.programming {
  margin-top: 200px;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.programming_txt {
  height: 350px;
  width: 70vw;
  background-color: #ffffff;
  margin-top: 150px;
  margin-left: 450px;
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-content: center;
}

.programming_txt p {
  font-size: 22px;
  width: 60vw;
  height: 300px;
  margin-top: 80px;
  margin-left: 80px;
}

.programming_img1 {
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.programming_img2 {
  position: relative;
  margin-top: 200px;
  margin-left: -500px;
  float: right;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}
