html,
body {
  box-sizing: content-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Comfortaa", cursive;
  background-color: #000000;
}

/**
*
    HOME CONTAINER
*
*/
.homeContainer {
  width: 100%;
  height: 100vh;
}
/**
*
    (HOME) LEFT CONTAINER
*
*/
.containerLeft {
  width: 60%;
  height: 100vh;
  background-color: white;
  float: left;
  color: #111;
}

.textContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 7%;
  gap: 25px;
}

.textContainer .p1 {
  padding-top: 15%;
  padding-bottom: 6%;
  font-size: 120px;
  margin: 0 !important;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 50px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.431);
  border: 2px solid #000000;
  transition: transform 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer .p2 {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

.textContainer a:visited {
  color: #000000;
}

.card:hover {
  color: #000000;
  transform: scale(1.1);
}

.menu-shapes {
  display: flex;
  align-items: stretch;
}

/* shapes black & white */
.shapes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.zero {
  margin-left: 80px;
  
  position: relative;
  -webkit-animation: onee 3s;
  animation: onee 3s;

  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.one {
  margin-left: 130px;
  margin-top: -70px;

  position: relative;
  -webkit-animation: onee 3s;
  animation: onee 3s;

  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

@-webkit-keyframes onee {
  from {
    top: -200px;
  }
  to {
    top: 0px;
  }
}

@keyframes onee {
  from {
    top: -200px;
  }
  to {
    top: 0px;
  }
}

.two {
  margin-left: 100px;
  margin-top: 40px;

  position: relative;
  -webkit-animation: twoo 3s;
  animation: twoo 3s;

  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.three {
  margin-left: 180px;

  position: relative;
  -webkit-animation: twoo 3s;
  animation: twoo 3s;

  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.four {
  margin-left: 130px;
  margin-top: -150px;

  position: relative;
  -webkit-animation: twoo 3s;
  animation: twoo 3s;

  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

@-webkit-keyframes twoo {
  from {
    top: -500px;
  }
  to {
    top: 0px;
  }
}

@keyframes twoo {
  from {
    top: -500px;
  }
  to {
    top: 0px;
  }
}

.five {
  margin-top: 90px;

  position: relative;
  -webkit-animation: threee 3s;
  animation: threee 3s;

  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

@-webkit-keyframes threee {
  from {
    top: -600px;
  }
  to {
    top: 0px;
  }
}

@keyframes threee {
  from {
    top: -600px;
  }
  to {
    top: 0px;
  }
}

.six {
  margin-left: 150px;
  margin-top: -80px;

  position: relative;
  -webkit-animation: fourr 3s;
  animation: fourr 3s;

  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.seven {
  margin-top: -80px;

  position: relative;
  -webkit-animation: fourr 3s;
  animation: fourr 3s;

  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

@-webkit-keyframes fourr {
  from {
    top: -800px;
  }
  to {
    top: 0px;
  }
}

@keyframes fourr {
  from {
    top: -800px;
  }
  to {
    top: 0px;
  }
}

.eight {
  margin-top: 60px;
  margin-left: 100px;

  position: relative;
  -webkit-animation: fivee 3s;
  animation: fivee 3s;

  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

@-webkit-keyframes fivee {
  from {
    top: -900px;
  }
  to {
    top: 0px;
  }
}

@keyframes fivee {
  from {
    top: -900px;
  }
  to {
    top: 0px;
  }
}

/**
*
    (HOME) RIGHT CONTAINER
*
*/
.containerRight {
  width: 40%;
  height: 100vh;
  float: right;
  background: rgb(179, 152, 255);
  background: linear-gradient(
    199deg,
    rgba(179, 152, 255, 1) 35%,
    rgba(160, 132, 255, 1) 65%,
    rgba(163, 131, 250, 1) 100%
  );
}

/* curved text */
path {
  fill: transparent;
}

text {
  fill: #ffffff;
  font-size: 29px;
}

svg {
  position: absolute;
}

/* circles for color palete */
.colors {
  display: flex;
  position: relative;
  margin-top: 50%;
}

.ball {
  display: block;
  width: 100px;
  height: 100px;
  margin: 50px auto 0;
  border-radius: 50%;
  transition: 0.4s;
  position: relative;

  display: flex;
  justify-content: center;
}

.ball:hover {
  transform: translate(0, -30px);
}

.drop {
  width: 90px;
  height: 200px;
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: 105px;

  background-color: #1a1a1a3a;
  color: #ffffff;
  border-radius: 30px;
}

.ball:hover .drop {
  display: block;
}

.drop p {
  text-align: center;
}

.b2 {
  background: radial-gradient(
    circle at 65% 15%,
    rgba(239, 230, 253, 1) 1px,
    rgba(98, 0, 237, 1) 3%,
    rgba(49, 0, 119, 1) 60%,
    rgba(10, 0, 24, 1) 100%
  );
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.b3 {
  background: radial-gradient(
    circle at 65% 15%,
    rgba(255, 255, 255, 1) 1px,
    rgba(208, 179, 250, 1) 3%,
    rgba(145, 77, 242, 1) 60%,
    rgba(98, 0, 237, 1) 100%
  );
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.b4 {
  background: radial-gradient(
    circle at 65% 15%,
    rgba(255, 255, 255, 1) 1px,
    rgba(231, 212, 254, 1) 3%,
    rgba(192, 153, 248, 1) 60%,
    rgba(161, 102, 244, 1) 100%
  );
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.b5 {
  background: radial-gradient(
    circle at 65% 15%,
    rgba(255, 255, 255, 1) 1px,
    rgba(202, 198, 255, 1) 3%,
    rgba(149, 142, 254, 1) 60%,
    rgba(78, 66, 254, 1) 100%
  );
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.b6 {
  background: radial-gradient(
    circle at 65% 15%,
    rgba(239, 230, 253, 1) 1px,
    rgba(113, 104, 254, 1) 3%,
    rgba(70, 59, 229, 1) 60%,
    rgba(11, 0, 178, 1) 100%
  );
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

.b7 {
  background: radial-gradient(
    circle at 65% 15%,
    rgba(239, 230, 253, 1) 1px,
    rgba(84, 77, 201, 1) 3%,
    rgba(11, 0, 178, 1) 60%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.457));
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.431));
}

/**
*
    SECOND CONTAINER
*
*/
.secondContainer {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}
