html,
body {
  box-sizing: content-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Comfortaa", cursive;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background: rgb(109, 102, 209);
  background: linear-gradient(
    164deg,
    rgba(109, 102, 209, 1) 9%,
    rgba(60, 51, 193, 1) 42%,
    rgba(11, 0, 178, 1) 69%,
    rgba(0, 0, 0, 1) 100%
  );
}