html {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Comfortaa", cursive;
  width: 100%;
  height: max-content;
  color: #ffffff;
  background: #000000;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background: rgb(174, 174, 174);
  background: linear-gradient(
    164deg,
    rgba(174, 174, 174, 0.031) 12%,
    rgba(255, 255, 255, 1) 47%,
    rgba(196, 196, 196, 0) 100%
  );
}

/* cards */
.cards {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  column-gap: 100px;
  row-gap: 130px;
}

.cardText {
  border: solid;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardText p {
  width: 30vw;
}

.cardContainer {
  display: flex;
  align-items: stretch;
  column-gap: 100px;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 40vh;
  --card-width: 35vw;
}

.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.cardOne::before,
.cardOne::after {
  background-image: linear-gradient(
    var(--rotate),
    #e30303,
    #e34a03 43%,
    #ff8b00
  );
}

.cardTwo::before,
.cardTwo::after {
  background-image: linear-gradient(
    var(--rotate),
    #ff8b00,
    #feb701 43%,
    #feed01
  );
}

.cardThree::before,
.cardThree::after {
  background-image: linear-gradient(
    var(--rotate),
    #feed01,
    #acfe01 43%,
    #008026
  );
}

.cardFour::before,
.cardFour::after {
  background-image: linear-gradient(
    var(--rotate),
    #008026,
    #00f8e4 43%,
    #336eee
  );
}

.cardFive::before,
.cardFive::after {
  background-image: linear-gradient(
    var(--rotate),
    #004dff,
    #510686 43%,
    #750686
  );
}

.card::before {
  content: "";
  width: 101%;
  height: 101%;
  border-radius: 6px;
  position: absolute;
  z-index: -1;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  right: 0;
  z-index: -1;
  left: -4%;
  height: 110%;
  width: 110%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

.card:hover {
  cursor: pointer;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card img {
  width: 90%;
  object-fit: cover;
}
